<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <button class="btn btn-danger fs-6 active" (click)="isOpen()">
        <i class="fa-solid fa-bars me-2"></i>
        Tüm Ürünler
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <a routerLink="/">
              <button class="btn btn-danger fs-6 active">
                <i class="fa-solid fa-house me-2"></i>
                Ana Sayfa
              </button>
            </a>
          </li>
          <li class="nav-item me-2">
            <button class="btn btn-danger fs-6 active">
              <i class="fa-solid fa-magnifying-glass me-2"></i>
              Ara
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger fs-6 active">
              <i class="fa-solid fa-filter me-2"></i>
              Filtrele
            </button>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              <i class="fa-solid fa-basket-shopping"></i>
              <span
                class="translate-middle badge rounded-pill bg-light text-dark rounded-circle"
              >
                0
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container" *ngIf="open">
  <app-sidebar></app-sidebar>
</div>
