<div class="sidebar">
  <ul *ngFor="let item of category.Result.TreeList">
    <li>
      <a routerLink="/category/{{ item.ID }}">
        <button class="btn btn-danger category">
          {{ item.DisplayName }}
        </button>
      </a>
    </li>
    <ul *ngFor="let item2 of item.SubCategoryList">
      <li>
        <a routerLink="/products/{{ item2.ID }}">
          <button class="btn btn-danger subCategory">
            {{ item2.DisplayName }}
          </button>
        </a>
      </li>
    </ul>
  </ul>
</div>
